<h1 class="text-center" >Mario's Construction Material</h1>
<% if !user_signed_in? %>
  <p class="text-center" ><%= link_to "Sign In", new_user_session_path %></p>
  <p class="text-center" ><%= link_to "Sign Up", new_user_registration_path %></p>
<% else %>
  <p><%= link_to "see our products", products_path(:g => 'all') %></p>
  <% if @products.any? %>
    <h3 class="text-center" >our newest products</h3>
    <% @recently_added.each do |product| %>
      <div class="text-center"><%= link_to product.name, product_path(product) %></div>
    <% end %>
  <% else %>
    <p>There are no products with reviews yet.</p>
  <%end%>
  <% if @most_reviews.any? %>
  <h3> Our most talked about products</h3>
    <ul>
    <% @most_reviews.each do |most| %>
      <li><%= link_to most.name, product_path(most) %></li>
    <% end %>
  </ul>
  <%end%>
  
<% end %>