<% if @product.reviews.any? %>
    <h3>Reviews:</h3>
      <% @product.reviews.each do |review| %>
        <p>By: <b><%= review.author %></b></p>
        <p>Rating: <b><%= review.rating %></b> of <b>5</b></p>
        <p><%= review.content_body %></p>
        <% if current_user && current_user.admin %>
          <p><%= link_to "edit review", edit_product_review_path(@product, review) %></p>
        <% end %>
        <hr>
      <% end %>
      <p><%= link_to "add a review", new_product_review_path(@product) %></p>
    <% else %>
      <p>Sorry currently we have no reviews for this product</p>
    <% end %>